@charset "UTF-8";

@media (min-width: 950px) {

.vectrum__intro {
	background-image: url(../images/bkg-1-1000.jpg);
	height: 759px;
	padding: 0 30vw;
	margin-top: 70px;
}

.vectrum__intro h1 {
	padding-top: 330px;
	font-size: 1.6em;
}

.vectrum__intro-logo {
	display: none;
}

.solucion__section {
	padding: 40px 5vw 30px 5vw;
}

.solucion__article {
	width: 24%;
	display: inline-block;
	padding: 0 15px;
	box-sizing: border-box;
	vertical-align: top;
}

.solucion__article h2 {
	text-transform: uppercase;
	margin-top: 20px;
	font-size: 1.3em;
}

.solucion__desc {
	padding: 0 10vw;
	padding: 0 20vw 30px 20vw;
}

.solucion__section h3 {
	font-size: 1.7em;
	font-weight: 500;
}

.suministros__section {
	margin-bottom: 60px;
	text-align: center;
	padding: 0 5vw;
}

.suministros__diagrama-img, .suministros__diagrama-img--768, .suministros__diagrama-img--1440 {
	display: none;
}

.suministros__diagrama-img--1000 {
	display: inline-block;
}

.contacto__section {
	background-image: url(../images/bkg-2-1000.jpg);
	height: 759px;
}

.contacto__section h2 {
	padding-top: 300px;
	font-size: 2.4em;
}

.contacto__section p {
	font-size: 1.7em;
}

.footer__section {
	background-color: #174651;
	text-align: left;
	padding:15px 0;
}

.footer_1 {
	padding: 0 0 0 0vw;
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	box-sizing: border-box;
	text-align: center;
}

.footer__logo {
	width: 150px;	
	margin: 0 auto;
}

.footer_2 {
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	box-sizing: border-box;
	text-align: center;
}

.footer__location-icon {
	width: 20px;
	margin-top: 0px;
	margin-right: 5px;
	display: inline-block;	
	vertical-align: middle;
}

.footer__section p {
	font-size: 0.7em;
	width: auto;
	text-align: left;
	margin: 0 auto;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}

.footer_3 {
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	box-sizing: border-box;
	text-align: center;
}

.footer__section span {
	display: inline-block;
	font-size: 0.7em;
	color: #fff;
	vertical-align: top;
	padding: 0;
}

}