@charset "UTF-8";

@media (min-width: 1445px) {

.vectrum__intro {
	background-image: url(../images/bkg-1-1440.jpg);
	height: 1015px;
	padding: 0 30vw;
}

.vectrum__intro h1 {
	padding-top: 400px;
	font-size: 1.8em;
}

.solucion__section {
	padding: 220px 10vw 150px 10vw;
}

.solucion__article {
	padding: 0 35px;
}

.suministros__diagrama-img, .suministros__diagrama-img--768, .suministros__diagrama-img--1000 {
	display: none;
}

.suministros__diagrama-img--1440 {
	display: inline-block;
}

.contacto__section {
	background-image: url(../images/bkg-2-1440.jpg);
	height: 1014px;
}

.contacto__section h2 {
	padding-top: 500px;
	font-size: 3.2em;
}

.contacto__section p {
	font-size: 2.3em;
}

.footer__section {
	padding: 10px 60px;
}


.footer__section img {
	width: 150px;
}

.footer__section span {
	font-size: 1.2em;
	padding: 5px 0;
}

}