@charset "UTF-8";

@media (min-width: 1445px) {

.vectrum__intro {
	background-image: url(../images/bkg-1-1440.jpg);
	height: 1015px;
	padding: 0 30vw;
}

.vectrum__intro h1 {
	padding-top: 400px;
	font-size: 1.8em;
}

.solucion__section {
	padding: 220px 10vw 150px 10vw;
}

.solucion__article {
	padding: 0 35px;
}

.suministros__diagrama-img, .suministros__diagrama-img--768, .suministros__diagrama-img--1000 {
	display: none;
}

.suministros__diagrama-img--1440 {
	display: inline-block;
}

.contacto__section {
	background-image: url(../images/bkg-2-1440.jpg);
	height: 1014px;
}

.contacto__section h2 {
	padding-top: 500px;
	font-size: 3.2em;
}

.contacto__section p {
	font-size: 2.3em;
}

.footer__section {
	background-color: #174651;
	text-align: left;
	padding:15px 0;
}

.footer_1 {
	padding: 0 0 0 0vw;
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	box-sizing: border-box;
	text-align: center;
}

.footer__logo {
	width: 150px;	
	margin: 0 auto;
}

.footer_2 {
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	box-sizing: border-box;
	text-align: center;
}

.footer__location-icon {
	width: 20px;
	margin-top: 0px;
	display: inline-block;	
	vertical-align: middle;
}

.footer__section p {
	font-size: 0.9em;
	width: auto;
	text-align: left;
	margin: 0 auto;
	color: #fff;
	display: inline-block;
	vertical-align: middle;
}

.footer_3 {
	display: inline-block;
	vertical-align: middle;
	width: 32%;
	box-sizing: border-box;
	text-align: center;
}

.footer__section span {
	display: inline-block;
	font-size: 0.9em;
	color: #fff;
	vertical-align: top;
	padding: 0;
}


}