@charset "UTF-8";

body {
	margin: 0;
	padding: 0;
	font-family: 'Ubuntu', sans-serif;
}

h1, h2 {
	font-family: 'Fira Sans', sans-serif;
	margin:0;
}

ul {
	padding: 0;
}

li {
	list-style-type: none;
}

a {
	text-decoration: none;
}

.vectrum__intro {
	background-image: url(../images/bkg-1.jpg);
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	height: 750px;
	padding: 0 5vw;
	text-align: center;
}

.vectrum__intro h1 {
	color: #fff;
	font-size: 1.1em;
	text-align: left;
}

.vectrum__intro-logo {
	width: 230px;
	padding-top: 190px;
	margin-bottom: 20px;
}

.solucion__section {
	padding: 30px 10vw;
	margin-top: 30px;
}

.solucion__article {
	text-align: center;
	margin-bottom: 60px;
}

.solucion__article h2 {
	text-transform: uppercase;
	color: #7ea533;
}

.solucion__article-separation {
	background-color: #000;
	height: 3px;
	width: 40px;
	margin: 20px auto 0 auto;
}

.solucion__article img {
	height: 90px;
}

.solucion__desc {
	padding: 0 10vw;
	text-align: center;
}

.solucion__section h3 {
	text-align: center;
	color: #265f71;	
	font-weight: 500;
}

.solucion__desc-separation {
	height: 6px;
	width: 100px;
	background-color: #265f71;
	display: inline-block;
}

.suministros__section {
	margin-bottom: 20px;
	text-align: center;
}

.suministros__diagrama img {
	max-width: 100%;
}

.suministros__diagrama-img--768, .suministros__diagrama-img--1000, .suministros__diagrama-img--1440 {
	display: none;
}

.contacto__section {
	text-align: center;
	background-image: url(../images/bkg-2.jpg);
	background-size: cover;
	background-position: center center;
	background-repeat: no-repeat;
	height: 602px;
}

.contacto__section h2 {
	padding-top: 240px;
	color: #fff;
}

.contacto__section p {
	color: #fff;
	font-size: 1.2em;
}

.footer__section {
	background-color: #174651;
	text-align: center;
	padding:10px 0;
}

.footer__section img {
	width: 80px;
	padding: ;
	vertical-align: middle;
}

.footer__section span {
	display: block;
	font-size: 0.8em;
	color: #fff;
	vertical-align: middle;
	padding: 10px 0;
}